.as-message-bubble,
.as-reply-bubble {
    background: var(--chat-bubble-bg);
    p {
        white-space: pre-wrap;
        margin: 8px 0;
    }
}

.as-message-bubble {
    cursor: pointer;
}

.as-message-bubble:hover,
.as-reply-bubble:hover {
    background: var(--chat-bubble-hover-bg);
}

.as-message-bubble:active {
    background: var(--chat-bubble-active-bg);
}
