.as-structured-input-form {
    max-height: 100%;
    fieldset {
        width: 100% !important;
        border: none;
        padding: 0 !important;
        box-sizing: border-box;

        .ant-form-item-label {
            padding-bottom: 0;
        }

        .ant-row {
            padding-left: 0;
            padding-right: 0;
            width: 100%;
        }
    }
}
